
body{
    font-family: Georgia, serif; 
    background-color: rgb(210, 187, 167);
}

.background-image{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    
}

.bg-label{
    background-color: rgb(230, 213, 198);
}

.titolo{
    font-size: min(7rem, 15vw);
    margin-top: 10%;
    margin-bottom: 20%;
}
.selezione{

}



